/* Centraliza o conteúdo da home */

 
html, body, .container-table {
    height: 97%;
}

/* [home] - Imagem de fundo da página inicial */
.img-background {
    background: url(../img/home.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}


/* Ajusta a altura entre o primeiro botão e a barra superior em uma resolução pequena*/
.padding-xs {
    padding-bottom: 80px;
}


.text-btn {
    font-size: 13pt;
    font-weight: bold;
}


/* Alinha os textos com os botões */
.center-buttom {
    text-align: center ;
}


.home-btn {
    color: #fff;
    text-shadow: 2px 2px 2px #000000;
}


.home-btn:hover, .home-btn:focus {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}


/* Centraliza o elemento*/

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 0px;
}
.footer {
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0);
}

.footer-link {
 color: #999898;; 
}

.footer-link:hover, .footer-link:focus {
  color: #fff;
  text-decoration:none
}

/* Contact
--------------------------------------------------*/

/* Esconde a exibição do nomes dos campos do formuário renderizados pelo django*/
.control-label, .requiredField {
    display: none !important;
}

textarea.form-control {
    height: 130px;
}
